<main class="container mt-5">
    <h1 class="pt-3">Gestión de Clientes</h1>
    <a class="btn btn-primary text-white add" routerLink="addclient">
      <i class="fas fa-user-plus"></i> Agregar
    </a>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">DNI</th>
            <th scope="col">Celular</th>
            <th scope="col">Email</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of clientList; index as i">
            <th scope="row">{{ item.id  }}</th>
            <td>{{ item.nombres }}</td>
            <td>{{ item.apellidos }}</td>
            <td>{{ item.dni }}</td>
            <td>{{ item.celular }}</td>
            <td>{{ item.email }}</td>
            <td>
                <a class="btn btn-success" (click)="onEdit(item)">Editar</a> |
                <a class="btn btn-success" (click)="onDelete(item.id)">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
</main>
